doctype html
html
    block  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header#banner
      h1 Awesome Chat
    block content
    footer Hope you enjoy!
    script(src="/javascripts/lib/jquery/dist/jquery.js")
